<!-- Add you custom twig html here -->
<div id="chart_div" style="width: 900px; height: 500px;" class="col-md-12"></div>
<div id="curve_chart" style="width: 900px; height: 500px" class="col-md-12"></div>
<div id="currentlpiechart" style="width: 900px; height: 500px;" class="col-md-12"></div>
<div id="totalpiechart" style="width: 900px; height: 500px;" class="col-md-12"></div>


