<!-- Add you custom twig html here -->
{{ searchform }}
{#<div id="chart_div" style="width: 100%; min-height: 500px;"></div>#}
<div id="curve_chart" style="width: 100%; min-height: 500px"></div>
{#<div id="currentlpiechart" style="width: 100%; min-height: 500px;"></div>#}
{#<div id="totalpiechart" style="width: 100%; min-height: 500px;"></div>#}


