<h3>Country Overview</h3>
  <div class="col-md-12">
    {% for key, country in data.countries.list %}
      <div class="col-md-3" style="height: 250px;">
        <h4 style="z-index: 1;">{{ country.country }}</h4>
        <div style="z-index: 1;">
          <img src="{{ country.flag }}" />
        </div>
        <div style="height: {{ country.sentiment_percentage }}%;background-color: #cc2a00;z-index: 2;position: absolute;width: 100%;bottom: 0px;">
          {{ country.sentiment }}
        </div>
      </div>
    {% endfor %}
  </div>
