<h3>Country Overview</h3>
  <div class="col-md-12">
    {% for key, country in data.countries.list %}
      <div class="col-md-3">
        {{ country.country }}
        {{ country.sentiment }}
        {{ country.sentiment_percentage }}
        {{ country.flag }}
      </div>
    {% endfor %}
  </div>
